body, html {
    font-size: 40px;
    font-family: Cambria, sans-serif;
}

h1{
    text-align: center;
    color:#660f66;
    text-decoration: underline;
    font-family: "cursive", "monospace", "Adobe Caslon Pro Bold", "Segoe UI", sans-serif;
    margin-top: .6rem;
    margin-left: 40px;
    font-size:.9rem;
    background-color:bisque;
    width: 600px;
}

hr {
    color: red;
    width: 40px;
}

#inputbox {
    width: 500px;
    height: 30px;
    font-size: 25px;
    color: darkred;
    background: lightyellow;
    margin-left: 30px;
}

#outputbox {
    width: 100px;
    height: 30px;
    font-size: 25px;
    background-color: lightskyblue;
    margin-left:30px;
}

.buttonarea {
    margin-left: 50px;
    margin-top: 40px;
    line-height: 70px;
    background:lightgoldenrodyellow;
    letter-spacing: .4rem;
}

#numberarea{
    margin-left: 60px;
}

.operator {
    width: 90px;
    height:50px;
    font-size: .6rem;
    background: lightgreen;
}

.number {
    width: 60px;
    height: 60px;
    font-size: 40px;
    background: lightblue;
}

.operator, .number{
    margin-top: .4rem;
}

#point {
    width:129px;
}

#foot {
    text-align: right;
    font-size: .3rem;
    margin-right:60px;
}

.control{
    font-size: .8rem;
    font-weight: bold;
    margin: 15px;
}

#result {
    width: 40px;
}

#backspace {
    width: 180px;
}

#ac {
    width: 60px;
}